$stepper-color: #d5d5d5;

.stepper {
	display: flex;
	counter-reset: number;
}

.stepper__item {
	--circle-size: 18px;
	--line-size: 2px;
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: center;

	&::before {
		counter-increment: number;
		content: counter(number);
		width: var(--circle-size);
		height: var(--circle-size);
		border: 1px solid $blue;
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 10px;
		font-size: 10px;
		line-height: 15px;
		color: $white;
		background-color: $blue;
	}

	&--active::before {
		color: $black;
		background: 0;
	}

	&--active ~ &::before {
		border-color: $stepper-color;
		color: $stepper-color;
		background: 0;
	}

	&:not(:last-child)::after {
		content: '';
		position: absolute;
		top: calc((var(--circle-size) - var(--line-size)) / 2);
		left: calc(50% + (var(--circle-size) / 2));
		width: calc(100% - var(--circle-size));
		height: var(--line-size);
		background-color: $blue;
	}

	&--active:not(:last-child)::after,
	&--active:not(:last-child) ~ &::after {
		background-color: $stepper-color;
	}
}
