$stepper-color: #d5d5d5;

.stepper {
	display: flex;
	counter-reset: number;
}

.stepper__item {
	--circle-size: 18px;
	--line-size: 2px;
	position: relative;
	display: flex;
	flex: 1;
	align-items: center;

	&:last-child {
		flex: 0;
	}

	span {
		position: absolute;
		left: calc(var(--circle-size) / 2);
		top: 27px;
		min-width: max-content;
		transform:translateX(-50%);
	}

	&::before {
		counter-increment: number;
		content: counter(number);
		flex-shrink: 0;
		width: var(--circle-size);
		height: var(--circle-size);
		border: 1px solid $blue;
		border-radius: 50%;
		font-size: 10px;
		line-height: 15px;
		text-align: center;
		color: $white;
		background-color: $blue;
	}

	&--active::before {
		color: $black;
		background: 0;
	}

	&--active ~ &::before {
		border-color: $stepper-color;
		color: $stepper-color;
		background: 0;
	}

	&:not(:last-child)::after {
		content: '';
		width: 100%;
		height: var(--line-size);
		background-color: $blue;
	}

	&--active:not(:last-child)::after,
	&--active:not(:last-child) ~ &::after {
		background-color: $stepper-color;
	}
}
