.page__body {
	display: grid;
	grid-template-rows: min-content 1fr;
}

.page__header {
	border-bottom: 1px solid $grey;
}

.page__stepper {
	max-width: 1070px;
	padding: 0 30px;
	margin-left: auto;
	margin-bottom: 85px;

	@media (min-width: 1200px) {
		padding: 0 20px;
	}
}

.page__main {
	position: relative;
	display: flex;
}

.page__order {
	flex: 4;
	max-width: 1200px;
	padding: 60px;
	padding-left: 50px;
	margin-left: auto;

	@media (min-width: 1200px) {
		padding: 60px;
	}
}

.page__order-subtitle {
	max-width: 840px;
	padding: 0 30px;
	margin-left: auto;
	margin-bottom: 40px;
}

.page__basket {
	display: none;
	flex: 1;
	min-width: 330px;
	max-width: 450px;
	padding: 40px;
	border-left: 1px solid $grey;
	transition: opacity $default-transition-duration $default-transition-function,
		right $default-transition-duration $default-transition-function;

	@media (min-width: 1090px) {
		display: block;
	}
}

.page__basket-subtitle {
	margin-bottom: 30px;
}

.page__billing-form {
	margin-left: auto;
}
