$radio-color: #cfcfcf;

.input-radio {
	--circle-size: 18px;
	--dot-size: 8px;

	position: relative;
	display: flex;

	label {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: opacity $default-transition-duration;

		&::before,
		&::after {
			content: '';
			flex-shrink: 0;
			border-radius: 50%;
		}

		&::before {
			width: var(--circle-size);
			height: var(--circle-size);
			border: 1px solid $radio-color;
			margin-right: 10px;
			transition: border-color $default-transition-duration;
		}

		&:hover::before {
			border-color: $blue;
		}

		&:active::before {
			border-color: rgba($blue, 0.75);
		}
	}

	input:checked + label::after {
		position: absolute;
		top: 50%;
		left: calc((var(--circle-size) - var(--dot-size)) / 2);
		transform: translateY(-50%);
		width: var(--dot-size);
		height: var(--dot-size);
		background-color: $blue;
	}
}
