.credit-card {
	display: flex;
	column-gap: 30px;
	row-gap: 20px;
	max-width: 490px;
	border-radius: 5px;
	padding: 20px 30px;
	padding-bottom: 45px;
	box-shadow: 0px 0px 32px rgba($black, 0.19);
}

.credit-card__name,
.credit-card__number {
	flex: 1;
}

.credit-card__date,
.credit-card__code {
	max-width: 100px;
}
